<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index Page</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>

    {{!-- <h1>This is my world</h1> --}}
    <div class="main-content">
    <header>
        <a href="/weather">Weather</a>
        <a href="/">Index</a>
        <a href="/help">Help</a>
        <a href="/about">About</a>
    </header>